$text_center:center;
$padding_block:20px;
$block_color:#e6e6e6;
$font_fam: "Open Sans","Arial","Helvetica", sans-serif;
$shadow: 0px 10px 10px 0px rgba(219,219,219,1);

.mainBlock{
    max-width: 1315px;
    max-height:900px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    background-color: $block_color;
    font-family: $font_fam;
  }
  .paddingBlock{
    margin:10px;
    padding:$padding_block;
    width: 100%;
  }
  .heading_text {
    font-family: $font_fam;
    color: #414141;
    font-weight:300;
    font-size: 26px;
    text-align: $text_center;
  }


  // Widget block
  .widgetBlock{
    max-width:93%;
    height:40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $block_color;
    margin:auto;
    padding:$padding_block;
    background-color: #fff;
    vertical-align: middle;
    border-radius: 5px;
    box-shadow: $shadow;
  }
  .heading_block{
    display: inline-block;
  }
  .btn_block{
    display: inline-block;
  }
  .checkAllCaption{
    padding-left: 10px;
  }
  .click_button{
    height: 40px;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    transition:0.3s;
  }
  #deleteBtn{
    background-color: #ff9797;
    width:120px;
    margin-left:$padding_block;
  }
  #deleteBtn:hover{
    border:1px solid #ff9797;
    background-color: #ffffff;
    color: #ff9797;
  }
  #addBtn{
    width:150px;
    background-color: #95ce99;
    margin-left:$padding_block;
  }
  #addBtn:hover{
    border:1px solid #95ce99;
    background-color: #ffffff;
    color: #95ce99;
  }

  // ADD Product Page CSS


  .addBlock{
    max-width: 750px;
    max-height:900px;
    margin: auto;
    display: flex;
    background-color: $block_color;
    font-family: $font_fam;
  }

  .widgetMarg{
    margin-bottom: 20px;
  }

  .heading_text{
    text-align: center;
  }

  .snp_block{
    max-width:93%;
    background-color: #fff;
    margin:auto;
    padding: $padding_block;
    border-radius: 5px;
    box-shadow: $shadow;
  }

  .data_input{
    width:98%;
    height:30px;
    border-radius: 5px;
    border:1px solid #d6d6d6;
    padding-left: 10px;
    margin-top:5px;
    margin-bottom:5px;
  }

  .switcher_block{
    width:250px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }

  #submitBtn{
    width:100px;
    background-color: #95ce99;
    margin-top: 20px;
  }

  #submitBtn:hover{
    border:1px solid #95ce99;
    background-color: #ffffff;
    color: #95ce99;
  }

  #resetBtn{
    width:100px;
    background-color: #ff9797;
    margin-top: 20px;
    margin-left: 20px;
  }

  #resetBtn:hover{
    border:1px solid #ff9797;
    background-color: #ffffff;
    color: #ff9797;
  }

  #backToListBtn{
    width: 150px;
    background-color: #7b7bf8;
  }

  #backToListBtn:hover{
    color:#7b7bf8;
    border:1px solid #7b7bf8;
    background-color: #fff;
  }

  //Hide forms

  .non_display{
    display:none;
  }

  #dvd_form,#books_form,#furniture_form{
    max-width:93%;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 20px;
    padding: $padding_block;
    box-shadow: $shadow;
  }