.mainBlock {
  max-width: 1315px;
  max-height: 900px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #e6e6e6;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
}

.paddingBlock {
  margin: 10px;
  padding: 20px;
  width: 100%;
}

.heading_text {
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  color: #414141;
  font-weight: 300;
  font-size: 26px;
  text-align: center;
}

.widgetBlock {
  max-width: 93%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e6e6e6;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  vertical-align: middle;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 10px 0px #dbdbdb;
          box-shadow: 0px 10px 10px 0px #dbdbdb;
}

.heading_block {
  display: inline-block;
}

.btn_block {
  display: inline-block;
}

.checkAllCaption {
  padding-left: 10px;
}

.click_button {
  height: 40px;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#deleteBtn {
  background-color: #ff9797;
  width: 120px;
  margin-left: 20px;
}

#deleteBtn:hover {
  border: 1px solid #ff9797;
  background-color: #ffffff;
  color: #ff9797;
}

#addBtn {
  width: 150px;
  background-color: #95ce99;
  margin-left: 20px;
}

#addBtn:hover {
  border: 1px solid #95ce99;
  background-color: #ffffff;
  color: #95ce99;
}

.addBlock {
  max-width: 750px;
  max-height: 900px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e6e6e6;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
}

.widgetMarg {
  margin-bottom: 20px;
}

.heading_text {
  text-align: center;
}

.snp_block {
  max-width: 93%;
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 10px 0px #dbdbdb;
          box-shadow: 0px 10px 10px 0px #dbdbdb;
}

.data_input {
  width: 98%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #d6d6d6;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.switcher_block {
  width: 250px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#submitBtn {
  width: 100px;
  background-color: #95ce99;
  margin-top: 20px;
}

#submitBtn:hover {
  border: 1px solid #95ce99;
  background-color: #ffffff;
  color: #95ce99;
}

#resetBtn {
  width: 100px;
  background-color: #ff9797;
  margin-top: 20px;
  margin-left: 20px;
}

#resetBtn:hover {
  border: 1px solid #ff9797;
  background-color: #ffffff;
  color: #ff9797;
}

#backToListBtn {
  width: 150px;
  background-color: #7b7bf8;
}

#backToListBtn:hover {
  color: #7b7bf8;
  border: 1px solid #7b7bf8;
  background-color: #fff;
}

.non_display {
  display: none;
}

#dvd_form, #books_form, #furniture_form {
  max-width: 93%;
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 10px 10px 0px #dbdbdb;
          box-shadow: 0px 10px 10px 0px #dbdbdb;
}
/*# sourceMappingURL=style.css.map */